@import "../../variables.scss";

.mat-toolbar {
    position: absolute;
    background-color: $primary;
    color:white;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% ;
} 

.menu
{
    flex: 1 1 auto;
    text-align: left;
}

.titre
{
    flex: 1 1 auto;
    text-align: right;
}