
<app-header></app-header>

<!-- <md-sidenav-container style="height: 91vh;background: #FFFFFF">

  <md-sidenav #sidenav mode="side" style="background: orange">
    Sidenav!
  </md-sidenav>

  <md-tab-group>

    <md-tab label="Tab 1">
      Hellow World

    </md-tab>

    <md-tab label="Tab 2">
      Hello World 2
    </md-tab>


    <md-tab label="Tab 3">
      Hello World 3
    </md-tab>

  </md-tab-group>

</md-sidenav-container> -->

<router-outlet></router-outlet>

<app-footer></app-footer>
